vendor/
node_modules/
*.log
.env
.DS_Store
Thumbs.db
composer.lock
.vscode/*
!.vscode/
!.vscode/settings.json
*/Assets/Images/Logo/*@*
*/Assets/Images/Logo/*.ai
!src/Includes/Plugins/TinyMCE/Assets/tinymce/icons/
!src/Includes/Plugins/TinyMCE/Assets/tinymce/icons/default/
!src/Includes/Plugins/TinyMCE/Assets/tinymce/icons/default/icons.min.js